.footer {
	text-align: center;
	background-color: #000;
	padding-bottom: 45px;
	padding-top: 38px;
	@media screen and (min-width:480px) {
		padding-top: 57px;
	}
	@media screen and (min-width:993px) {
		padding-top: 66px;
	}

}
.footer__flex {
	// padding-top: 38px;
	margin: auto;
	


}
.footer__title {
	color: #FEFEFE;
	font-size: 14px;
	font-weight:$font-bolt;
	line-height: 22px;
	text-transform: uppercase;

}

.footer__text {
	font-size: 12px;
	margin-bottom: 26px;
	
	@media screen and (min-width:768px){
		margin-bottom: 0;
		margin-right: 10px;
		
	}
}
.footer__text-text {
	color: #B9B9B9;
	line-height: 24px;
}
.footer__text-tabl {
	display: none;
	
	@media screen  and( min-width: 768px){
		display: block;
		margin-bottom: 26px;
		font-size: 12px;
	}
}
.footer__icon {
	margin-bottom: 25px;
}

.footer__contacts {
text-align: center;


}
.footer__flex-{
	@media screen and (min-width: 768px) {
	display: flex;
	justify-content: center;
	// padding-top: 57px;
	}
}
.footer__flex-item {
	@media screen and (min-width: 768px) {
		margin-right: 15px;
		}
}