
.header__nav {
	// text-align: right;
	position: relative;
	height: 80px;

}
.header__list {
	display: none;
	@media screen and (min-width:768px) {
		display: flex;
		justify-content: space-around;
		text-transform: uppercase;
		font-size: 12px;
		padding: 40px;
		& :hover,
		& :focus {
			color:#57A4A4;
			font-weight: $font-weight;
		}
	}
}
.header__button {
	margin-right: 0px;
	background: #000;
	margin-bottom: 23px;
	@media screen and (min-width:768px) {
		display: none;
	}
}


.header_img {
	display: block;
	text-align: center;
	margin: 0;

}


.header__link-buton {
	position: absolute;
	top: 23px;
	right: 5px;
	background-image: url('/src/img/header/menu-button.png');
	background-color: #000;
	width: 44px;
	height: 37px;
	
	@media screen and (min-width: 768px){
		display: none;
	}
}
.burger__link-active {
	// display: block;
	background-image: url('/src/img/header/menu-butto1n.png');
	width: 44px;
	height: 37px;
	position: absolute;
	top: 23px;
	right: 0;
	// @media screen and (min-width: 768px){
	// 	display: none;
	// }
}
// .is-hiden {
// 	display: none;
// }

.burger__list {
	text-align: left;
	width: 182px;
	font-size: 16px;
	font-weight: $font-weight;
	background: #F5F5F5;
	font-weight: 400;
	text-transform: uppercase;
	position: absolute;
	right:0;
	top: 60px;
	line-height: 28px;
	color: #4E4E4E;
	letter-spacing: 1.1px;
	// display: none;
	@media screen and (min-width: 768px) {
		display: none;
	}
}
.hiden{
	display: none;
}
.active{
	display: block;
}
.hiden{
	display: none;
}
.burger__item {
	margin-left: 13px;
}

.burger__link {
	color: $color-text;
	&:hover,
	&:focus {
		color: #57A4A4;
	}
}
.bg {
	background-image: url('/dist/img/header/intro-mobil.png');
	background-repeat: no-repeat;
	background-size: cover;
	// width: 300px;
	height: 150px;
	margin: 0 auto;
	margin-bottom: 38px;
	@media  screen and (min-width:768px) {
		background-image: url('/dist/img/header/intro-tab1.jpg');
		min-width: 768px;
		height: 361px;
	}
	@media  screen and (min-width:1200px) {
		background-image: url('/dist/img/header/intro-desktop.png');
		width: 1170px;
		height: 550px;
	}
}
